<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/53355005-422d-48ad-b0a2-a802b48027a2/resourceGroups/rg-awesomedi/providers/Microsoft.ContainerRegistry/registries/awesomedi</ContainerResourceId>
    <ContainerResourceName>awesomedi</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>awesomedi.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://awesomedi.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/53355005-422d-48ad-b0a2-a802b48027a2/resourcegroups/rg-awesomedi/providers/Microsoft.Web/sites/AwesomeDi</ResourceId>
    <ResourceGroup>rg-awesomedi</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://awesomedi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e1ec32b3-0036-4102-93de-421689309a48</ProjectGuid>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>