.date-heading {
    font-weight: bold;
    font-size: 16pt;
    margin-top: 20px;
    margin-bottom: 5px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-row>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
}