mat-dialog-container{
    width: 90vw
}
.detail-text{
    display: block; 
    word-break: break-word;
    max-height: 500px;
    overflow-y: scroll;
}

label{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}