<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v3/" />
    <add key="DevExpress Nuget server" value="https://nuget.devexpress.com/q8b56vRcd7BURlmw3RHY92hbHbf8oZJJ6nsYGrpBCB8t7pjWXu/api" />
  </packageSources>
</configuration>